        :root {
            --dark-navy: #021526;
            --deep-blue: #03346E;
            --sky-blue: #6EACDA;
            --pale-cream: #ffffff;
        }

        body {
            font-family:sans-serif, Arial;
            margin: 0;
            padding: 0;
            background-color: var(--dark-navy);
            color: var(--pale-cream);
            background-attachment: fixed;
        }

        header {
            background-color: var(--deep-blue);
            color: var(--pale-cream);
            padding: 20px;
            text-align: center;
            border-bottom: 3px solid var(--sky-blue);
        }

        header h1 {
            font-size: 48px;
            margin: 0;
            letter-spacing: 3px;
        }

        nav {
            background-color:var(--dark-navy);
            padding: 15px;
            text-align: center;
            border-bottom: 2px solid var(--sky-blue);
            position: sticky;
            z-index: 100;
            top: 0%;
        }

        nav a {
            color: var(--pale-cream);
            margin: 0 20px;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: var(--sky-blue);
        }

        .content {
            padding: 30px 20px;
            background-color: var(--dark-navy);
        }

        .section {
            margin: 20px 0;
            padding: 30px;
            background-color: var(--deep-blue);
            border-radius: 8px;
            color: var(--pale-cream);
        }

        .section h2 {
            color: var(--pale-cream);
            margin-top: 0;
            font-size: 36px;
            animation: colorChange 2s infinite;
        }

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-bottom: auto;
        }


        .card-grid {
            display: flex;
            justify-content:space-between;
            gap: 20px;
        }

        .card {
            flex: 1;
            padding: 20px;
            background-color: var(--dark-navy);
            border-radius: 8px;
            text-align: center;
            color: var(--pale-cream);
            box-shadow: 0 20px 8px rgba(0, 0, 0, 0.3);
            transition: width 2s, height 2s, transform 2s;
        }

        .card:hover {
            color: var(--dark-navy);
            background-color: var(--pale-cream);
            transform: rotate(360deg);
        }

        .card h3 {
            margin: 0 0 15px;
            font-size: 28px;
        }

        .card a {
            text-decoration: none;
            color: var(--deep-blue);
            background-color: var(--sky-blue);
            padding: 10px 15px;
            border-radius: 5px;
            display: inline-block;
            transition: background-color 0.3s ease;
        }

        .card a:hover {
            background-color: var(--pale-cream);
            color: var(--deep-blue);
        }

        @keyframes colorChange {
            0% {
                color: white;
            }
            25%{
                color: lightblue;
            }
            50% {
                color: tan;
            }

            75%{
                color: var(--sky-blue);
            }
            100% {
                color: white;
            }
        }

        .two-column {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 40px;
        }
        
        .column {
            flex: 1;
            padding: 10px;
            background-color: black;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .column:hover{
            transform: translateY(-5px);
        }
        
        .column h3 {
            color: var(--sky-blue);
        }
        
        .highlight-box {
            background-color: #495579;
            color: #ffffff;
            padding: 15px;
            border-radius: 8px;
            margin: 20px 0;
        }

        .highlight-box:hover{
            transform: translateY(-5px);
        }

        .highlight-box h3 {
            margin-top: 0;
        }
        
        .notable-moments {
            margin: 20px 0;
        }
        
        .notable-moments h3 {
            color: var(--sky-blue);
        }
        
        .notable-moments ul {
            list-style-type: disc;
            padding-left: 20px;
        }
        
        .notable-moments li {
            margin-bottom: 10px;
        }
        
        .full-width-section {
            background-color: black;
            padding: 20px;
            border-radius: 8px;
            margin: 20px 0;
        }
        .full-width-section:hover{
            transform: translateY(-5px);
        }
        
        .full-width-section h3 {
            color: var(--sky-blue);
        }
        
        blockquote {
            border-left: 4px solid #251749;
            padding-left: 20px;
            margin: 20px 0;
            font-style: italic;
            color: var(--sky-blue);
        }
        blockquote:hover{
            font-size: 20px;
        }
        
        .future-section {
            background-color:black;
            padding: 20px;
            border-radius: 8px;
            margin: 20px 0;
        }

        .future-section:hover{
            transform: translateY(-5px);
        }
        
        .future-section h3 {
            color: var(--sky-blue);
        }

        header {
            background-color: var(--deep-blue);
            background-image:url(logo.jpg);background-repeat: no-repeat;background-position:center;background-size: 100% 100%;opacity: 80%;
            color:black;
            padding: 20px;
            text-align: center;
            border-bottom: 3px solid var(--sky-blue);
        }